<div class=calendar-container>

  <div class="col-1">
    <div class="calendar-date">
      <div class="weekday">{{weekSelected}}</div>
      <div>
        <div class="date">{{daySelected}}</div>
        <div class="month">{{months[month-1]}}</div>
      </div>
      <div class="year">{{year}}</div>
    </div>
  </div>

  <div class="col-2">
    <div class="calendar-arrow-container">
      <button class="calendar-left-arrow" (click)="incrementMonth(-1)">
        < </button> {{months[month-1]}}
          <button class="calendar-right-arrow" (click)="incrementMonth(+1)">></button>
          <button class="calendar-left-arrow" (click)="incrementYear(-1)">
            < </button> {{year}}
              <button class="calendar-right-arrow" (click)="incrementYear(+1)">></button>
    </div>
    <div class="calendar-week">
      <div *ngFor="let date of weekdays">{{date}}</div>
    </div>
    <div *ngFor="let week of days">
      <ul class="calendar-days">
        <div [class.day-muted]="!day.isMonth" *ngFor="let day of week; let indexOfElement = index;">
          <div class="day" [ngStyle]="{'background-color': (day.day == daySelected && day.isMonth) ? '#b8c0c0' : ''}"
            (click)="selectedDate(day.day)">{{day.day}}</div>
        </div>
      </ul>
    </div>
  </div>

</div>